@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: hsl(0, 11%, 12%);
}

section {
  background: hsl(185, 75%, 39%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  position: relative;
  overflow: hidden;
  width: 350px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-header {
  background-image: url(images/bg-pattern-card.svg);
  background-size: cover;
  height: 150px;
}

.card-avatar {
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid white;
  margin: -64px auto 2rem auto;
}

.card-avatar img {
  width: 100%;
}

.card-body {
  padding: 0 1rem 2rem;
}

.card-age, .card-city, .card-meta {
  font-weight: 400;
  color: hsla(0, 11%, 12%, 0.5);
}

.card-age {
  margin-left: .25rem;
}

.card-name {
  margin-bottom: 1rem;
}

.card-footer {
  display: flex;
  border-top: 1px solid hsla(0, 11%, 12%, 0.5);
  padding: 0 1rem;
}

.card-item {
  display: flex;
  flex: 1;
  height: 128px;
  flex-direction: column;
  justify-content: center;
}

.card-value {
  margin-bottom: .5rem;
}

.card-meta {
  font-size: .75rem;
  letter-spacing: 1px;
}

.circles {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.circle1 {
  position: absolute;
  top: -500px;
  left: -500px;
}

.circle2 {
  position: absolute;
  bottom: -500px;
  right: -500px;
}